*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing:inherit;
}
:root{
    --container:112rem;
    --m-auto:0 auto;
    --white:#fff;
    --black:#333;
    --gray:gray;
}
html, body{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
div{
    font-size:1.6rem;
}
.container{
    width: 80%;
    margin: var(--m-auto);
}
.carousel{
    margin-top: 2rem;
    height: 35rem;
    /* overflow: hidden; */
}
.slider{
    display: flex;
    width:500%;
    height: 100%;
    border: 0.2rem solid burlywood;
}
.slider section{
    flex-basis: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 0.2rem solid rgb(111, 148, 190);
}