/* html reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    scroll-behavior: smooth;
}
/* html reset-end */
header{
    height: 100vh;
    background-color: aliceblue;
}
.header{
    padding: 2rem 0 0 0;
    text-align: center;
}
.header h1{
    margin-bottom: .4rem;
}
.header p{
    font-size: 1.3rem;
}
.input-search {
    margin-top: 1rem;
    text-align: center;
}
.input-search input{
    border-radius: 1px;
    width: 25rem;
    padding: 0.5rem;
    height: 2rem;
    font-size: 1.1rem;
    border: 1px solid rgb(83, 83, 83);
    outline: none;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}
.name{
    margin: 0 0 0 -7rem;
}
.corse-list{
    width: 20rem;
    margin: auto;
    padding: 0.5rem 0;
    text-align: center;
}
.corse-list ul li{
    background-color: #fff;
    margin-top: 0.5rem;
    border-left: 0.5rem solid gold;
    list-style-type: none;
    padding: 1rem 1rem;
}
.corse-list ul li .name{
    font-size: 1.2rem;
}
.corse-list ul li .delite{
    color: #fff;
    cursor: pointer;
    padding: 0.4rem 1.4rem;
    background-color: rgb(29, 103, 187);
    border-radius: 0.3rem;
    float: right;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.corse-list ul li .delite:hover{
    background-color: rgb(255, 0, 0);
}
.course-add{
    width: 25rem;
    margin: auto;
    text-align: center;
    padding: 1rem ;
}
.course-add input{
    position: relative;
    width: 90%;
    padding: 0.5rem 1rem;
    float: left;
    margin-left: -1rem;
    height: 2rem;
    font-size: 1.2rem;
    border: 1px solid rgb(121, 114, 114);
    outline: none;
}
.course-add button{
    position: absolute;
    float: left;
    margin-top: 2.2rem;
    margin-left: -2rem;
    padding: 0.5rem 1rem;
    background-color: #1D67BB;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}
.course-add button:hover{
    background-color: rgb(40, 216, 40);
}
.c{
    display: inline-block;
    width: 20rem;
    margin: auto;
    padding: 0 0 1rem 0; 
    text-align: left;
}
.c input{
    display: none;
    float: left;
    height: 1.1rem;
    width: 1rem;
    margin-right: 1rem;
    padding: 0.2rem !important;
}
.c i{
    cursor: pointer;
    margin-right: 1rem;
}
.c label{
    cursor: pointer;
}
#list{
    margin: 1rem auto;
    width: 25rem;
   max-height: 16rem;
    overflow: auto;
}