*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing:inherit;
}
:root{
    --container:112rem;
    --m-auto:0 auto;
    --white:#fff;
    --black:#333;
    --gray:gray;
}
html, body{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    list-style-type: none;
    border: none;
}
.carousel{
    width:var(--container);
}
.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
